<!DOCTYPE html>
<html lang="en">
<head>
    <title>Justin Schiller Portfolio</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Justin Schiller's Portfolio">
    <meta name="author" content="Justin Schiller">    
    <link rel="shortcut icon" href="favicon.ico">  
    
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    
    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.js"></script>
    
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    
    <!-- github calendar css -->
    <script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
    <link rel="stylesheet" href="assets/plugins/github-calendar/dist/github-calendar-responsive.css">

    <!-- github activity css -->    
    <link rel="stylesheet" href="assets/plugins/github-activity/github-activity-0.1.5.min.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    
</head> 

<body>
    <!-- ===== HEADER ===== -->
    <!-- ============================================================== --> 
    <header class="header">
        <div class="container clearfix">                 
            <img class="profile-image img-fluid float-left rounded-circle" src="assets/images/avatar.png" alt="profile image" />
            <div class="profile-content float-left">
                <h1 class="name">Justin Schiller</h1>
                <h2 class="desc">Full Stack Web Developer</h2>
                <ul class="social list-inline">
                    <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/schiller-justin/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/Optimo1983"><i class="fab fa-github-alt"></i></a></li>    
                    
                </ul> 
            </div>
            <a id="scroll-btn" class="btn btn-cta-primary float-right" href="#contact"><i class="fas fa-paper-plane"></i> Contact Me</a>              
        </div>
    </header>
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I'm Justin, a full stack web developer currently living near Austin, Texas. Two years ago, I became passionate about learning to create with code and have been hooked ever since. Web developement gives me a high level of engagement, a limitless ceiling of learning and the ability to create something out of nothing. Want to know more about my work or interested in doing something together? Contact me and let's talk!</p>
                        </div>
                    </div>              
                </section>
    
               <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">    
                           <!-- ===== FEATURED PROJECT ===== -->
                           <!-- ============================================================== -->
                            <div class="item featured text-center">
                                
                                <div class="featured-image has-ribbon">
                                    <a href="https://e-commerce-project-heroku.herokuapp.com/" target="_blank">
                                    <img class="img-fluid project-image rounded shadow" src="assets/images/projects/project-featured-screen-crop.jpg" alt="project name" />
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                    </div>
                                </div>
                                
                                <h3 class="title mb-3"><a href="https://e-commerce-project-heroku.herokuapp.com/" target="_blank">eShop - Electronics E-Commerce Shop</a></h3>
                                    
                                <div class="desc text-left">                                    
                                    <p>An electronics e-commerce site built from scratch. Leverages the Best Buy API for product content. Allows users to create and manage secure accounts, perform product searches, view product information and ratings, add products to their cart or save them to their favorites.</p>
                                    <p>"Vanilla" JavaScript was used on the client-side to reinforce foundation coding skills. Backend utilizes Node with Express framework and a PostgreSQL database.</p>
                                </div>       
                                <a class="btn btn-cta-secondary margin-right-sm" href="https://e-commerce-project-heroku.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt"></i>View Site</a>
                                <a class="btn btn-cta-secondary" href="https://github.com/Optimo1983/E-Commerce-Project.git" target="_blank"><i class="fas fa-code"></i>View Code</a>                  
                            </div>

                            <hr class="divider" style="border-top: 2px solid #999;" />
                            
                           <!-- ===== PROJECT 1 ===== -->
                           <!-- ============================================================== -->
                            <div class="item row">
                                <a class="col-md-4 col-12" href="https://forkify-webapp.herokuapp.com/" target="_blank">
                                <img class="img-fluid project-image rounded shadow" src="assets/images/projects/project-1-screen-crop.jpg" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="https://forkify-webapp.herokuapp.com/" target="_blank">Forkify - Recipe Search & Shopping App</a></h3>
                                    <p class="mb-2">Reponsive SPA that allows users to search popular recipes using AJAX requests from third-party API. Users can save favorite recipes for later, adjust serving sizes, create custom shopping lists for ingredients and view directions all on a beautiful mobile/desktop friendly interface.</p>

                                    <p class="inline-block margin-right-sm"><a class="more-link" href="https://forkify-webapp.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt"></i>View Site</a></p>

                                    <p class="inline-block"><a class="more-link" href="https://github.com/Optimo1983/Forkify" target="_blank"><i class="fas fas fa-code"></i>View Code</a></p>
                                </div>                         
                            </div>
                            
                           <!-- ===== PROJECT 2 ===== -->
                           <!-- ============================================================== -->
                            <div class="item row">
                                <a class="col-md-4 col-12" href="https://bookmark-landing.herokuapp.com/" target="_blank">
                                <img class="img-fluid project-image rounded shadow" src="assets/images/projects/project-2-screen-crop.jpg" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="https://bookmark-landing.herokuapp.com/" target="_blank">Bookmark - Interactive Responsive Landing Page</a></h3>
                                    <p class="mb-2">Clean and modern landing page with responsive layout. Tasteful JavaScript enabled features, such as the mobile menu and expandable FAQ section. Project focuses on having clean modular JavaScript, with good BEM HTML and projessional CSS3 styling.</p>
                                    <p class="inline-block margin-right-sm"><a class="more-link" href="https://bookmark-landing.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt"></i>View Site</a></p>

                                    <p class="inline-block"><a class="more-link" href="https://github.com/jaredschiller/bookmark-landing-page" target="_blank"><i class="fas fas fa-code"></i>View Code</a></p>
                                </div>                       
                            </div>
                            
                           <!-- ===== PROJECT 3 ===== -->
                           <!-- ============================================================== -->
                             <div class="item row">
                                <a class="col-md-4 col-12" href="https://fylo-landing.herokuapp.com/" target="_blank">
                                <img class="img-fluid project-image rounded shadow" src="assets/images/projects/project-3-screen-crop.jpg" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h3 class="title"><a href="https://fylo-landing.herokuapp.com/" target="_blank">Fylo - Responsive Landing Page</a></h3>
                                    <p class="mb-2">Responsive landing page with a clean modern layout. Project focuses on good BEM HTML structure and grid/flexbox CSS3 layouts.</p>
                                    <p class="inline-block margin-right-sm"><a class="more-link" href="https://fylo-landing.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt"></i>View Site</a></p>

                                    <p class="inline-block"><a class="more-link" href="https://github.com/Optimo1983/Fylo-landing-page" target="_blank"><i class="fas fas fa-code"></i>View Code</a></p>
                                </div>                      
                            </div>                       
                        </div>
                    </div>               
                </section>

                <!-- ===== MY GITHUB SECTION ===== -->
                <!-- ============================================================== -->
                <section class="github section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">My GitHub</h2>  
                        
                        <!-- ===== GITHIB CALENDAR ===== -->
                        <div id="github-graph" class="github-graph"></div>

                        <!-- ===== GITHIB FEED ===== -->
                        <div id="ghfeed" class="ghfeed"></div>

                    </div>
                </section>
            </div>


            
            <div class="secondary col-lg-4 col-12">
            
                <!-- ===== SKILLS SECTION ===== -->
                <!-- ============================================================== -->
                <aside class="skills aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Tech Skills</h2>
                        <div class="content">
                            <p class="intro">Below are some of my technical skills. I'm always looking for opportunities to add new skills and polish existing ones.</p>
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">React &amp; Redux</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>                                      
                                    </div>
                                </div>

                                <div class="item">
                                    <h3 class="level-title">JavaScript (ES6)</h3>
                                    <div class="level-bar">
                                       <div class="level-bar-inner" data-level="90%">
                                       </div>                                      
                                    </div>
                                 </div>
                                
                                <div class="item">
                                    <h3 class="level-title">Node &amp; Express</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>                                      
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <h3 class="level-title">SQL &amp; MongoDB</h3>
                                    <div class="level-bar">
                                       <div class="level-bar-inner" data-level="70%">
                                       </div>                                      
                                    </div>
                                 </div>

                                <div class="item">
                                    <h3 class="level-title">Version Control</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>                                      
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5 &amp; CSS3/SASS</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="90%">
                                        </div>                                      
                                    </div>
                                </div>
                                
                                <p><a class="more-link" target="_blank" href="assets/docs/Resume.pdf"><i class="fas fa-external-link-alt"></i>View Resume</a></p> 
                            </div>              
                        </div>
                    </div>
                </aside>

                <!-- ===== EDUCATION SECTION ===== -->
                <!-- ============================================================== -->
                <!-- <aside class="education aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Completed Online Courses</h2>
                        <div class="content">
                            <div class="item">                      
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> </h3>
                                <h4 class="university"> <span class="year"></span></h4>
                            </div>
                            <div class="item">
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> </h3>
                                <h4 class="university"> <span class="year"></span></h4>
                            </div>
                        </div>
                    </div>
                </aside> -->

                <!-- ===== MUSIC SECTION ===== -->
                <!-- ============================================================== -->
                <aside class="list music aside section">
                  <div class="section-inner shadow-sm rounded">
                      <h2 class="heading">Current Coding Music</h2>
                      <div class="content">
                          <ul class="list-unstyled">
                              <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/artist/4Z8W4fKeB5YxbusRsdQVPb?si=tVTpmD3WSLGYls1m2W-dyQ">Radiohead</a></li>
                              <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/playlist/37i9dQZF1DWWQRwui0ExPn?si=pIjX-sA1QXKP1gN4WlUIQQ">Lo-Fi Beats Playlist</a></li>
                              <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/playlist/37i9dQZF1DX4sWSpwq3LiO?si=CvqXmraGSXWz5iSFDZJrXw">Peaceful Piano Playlist</a></li>
                              <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/artist/21mKp7DqtSNHhCAU2ugvUw?si=Dpo2R5T9SAKuxtbXEpIZmg">ODESZA</a></li>
                              <li><i class="fas fa-headphones"></i> <a target="_blank" href="https://open.spotify.com/artist/246dkjvS1zLTtiykXe5h60?si=m8zC5hH3T36XGT296W9s8A">Post Malone</a></li>
                          </ul>
                      </div>
                  </div>
              </aside>

                <!-- ===== RESOURCES SECTION ===== -->
                <!-- ============================================================== -->
                <aside class="blog aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Reddit RSS Feeds</h2>
                     
                        <div id="rss-feeds" class="content"></div>
                    </div>
                </aside>

                <!-- ===== CONTACT SECTION ===== -->
                <!-- ============================================================== -->
                <aside id="contact" class="contact aside section">
                  <div class="section-inner shadow-sm rounded">

                     <h2 class="heading">Contact Me</h2>
                     <p>Have a question or want to work together?</p>

                     <form class="contact__form">
                        <input type="text" name="name" id="contact__name" class="contact__name contact__field contact__input" placeholder="Your name" required>
                        <input type="text" name="email" id="contact__email" class="contact__email contact__field contact__input" placeholder="Your email" required>
                        <textarea type="text" name="message" id="contact__message" class="contact__message contact__field contact__textarea" placeholder="Your message" required></textarea>

                        <div class="contact__btn-flexbox">
                           <a class="btn btn-cta-primary contact__btn">Send</a>

                           <p id="contact__msg-success"><i class="far fa-check-circle" style="font-size: 24px; margin-right: 5px;"></i> Message sent!</p>
                           <p id="contact__msg-error"><i class="fas fa-times" style="font-size: 24px; margin-right: 5px;"></i> Invalid info</p>
                        </div>
                        
                     </form>

                  </div>
                </aside>
                
            </div> 
        </div>
    </div>
    
    <!-- ===== FOOTER ===== -->
    <!-- ============================================================== --> 
    <footer class="footer"></footer>
 
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/popper.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script>

    <!-- github activity plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="assets/plugins/github-activity/github-activity-0.1.5.min.js"></script>

    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
