html {
   scroll-behavior: smooth;
}

body {
    font-family: 'Lato', arial, sans-serif;   
    color: $text-color;
    background: $background;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $color;
}

a {
   color: $color-3;
   @include transition (all 0.25s ease-in-out);

    

    
    &:hover, &:focus {
        text-decoration: none;
        color: lighten($color-3, 10%);
        
        
    }
}

.btn, a.btn {
    @include transition (all 0.25s ease-in-out);
    font-family: 'Montserrat', arial, sans-serif;
    padding: 8px 16px;
    font-weight:bold;
    .svg-inline--fa {
        margin-right: 5px;
        position: relative;
        top: 0px;
    }

    &:focus {
        color: #fff;
    }
}

a.btn-cta-primary, .btn-cta-primary { 
    background: darken($btn-color, 10%);
    border: 1px solid $btn-color;
    color: #FFF;
    font-weight:600;
    text-transform: uppercase;
    &:hover {
        background: $btn-color;
        border: 1px solid $btn-color;
        color: #fff;
        transform: translateY(-2px);
    }
}

a.btn-cta-secondary,  .btn-cta-secondary { 
    background: darken($btn-color-2, 10%);
    border: 1px solid $btn-color-2;
    color: #fff;
    font-weight:600;
    text-transform: uppercase;
    &:hover {
        background: $btn-color-2;
        border: 1px solid $btn-color-2;
        color: #fff;
        transform: translateY(-2px);

    }
}



.text-highlight {
    color: darken($color, 30%);
}

.badge-theme {
    background: $color-2;
    font-size: 12px;
    color: #fff;
    @include border-radius(2px);
}

a.dotted-link {
    border-bottom: 1px dotted $color;
    color: $color;
    &:hover {
        text-decoration: none;
        color: darken($color, 20%);
    }
}
        
/* ======= Header ======= */
.header {
    padding: 30px 0;
    background: $smoky-white;
    border-top: 10px solid $color;
    border-bottom: 1px solid darken($color, 25%);
    .btn {
        margin-top: 70px;
        font-weight: bold;
    }
    .profile-image {
        margin-right: 30px;
        height: 180px;
    }
    .profile-content {
        
        .name {
            color: $color-3;
            font-size: 38px;
            margin-bottom: 5px;
            margin-top: 30px;
        }
        .desc {
            color:$color;
            font-family: "Lato", arial, sans-serif;
            font-weight: 400;
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 15px;
        }
        .social {
            a {
                background: darken($color, 10%);
                width: 36px;
                height: 36px;
                display: inline-block;
                @include border-radius(50%);
                color: #FFF;
                text-align: center;
                
                &:hover {
                    background: $color;
                    transform: translateY(-2px);

                }
                .svg-inline--fa {
                    font-size: 20px;
                    margin-top: 8px;
                }
            }
        }
    }
}

/* ======= Sections======= */
.sections-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section {
    margin-bottom: 30px;
    
    .section-inner {
        background: #1F2833;
        padding: 30px;
        border-radius: 8px !important;

    }
    .heading {
        margin-top: 0;
        margin-bottom: 30px;
        color: darken($color, 0%);
        font-size: 24px;
    }
    .content {
        .more-link {
            .svg-inline--fa {
                margin-right: 5px;
                font-size: 14px;
                position: relative;
                top: -2px;
            }
        }
    }
}

/* About Section */
.about {
    
}

/* Latest Section */
.latest, .other {
   position: relative;
    .item {
        margin-bottom: 2rem;
        .title {
            font-size: 18px;
            margin-top: 0;
            .label {
                margin-left: 5px;
                font-size: 12px;
            }
            a {
                color: $color;
                text-decoration: underline;
                &:hover {
                    color: lighten($color, 10%);
                }
            }
        }

        .project-image {
            transition: all .25s ease-in-out;
            &:hover {
               transform: translateY(-3px);
            }
        }
        
        a {
            @media only screen and (max-width: 440px) {
            display: block;
            margin-right: auto;
            margin-left: auto;

            &:first-of-type {
               margin-bottom: 20px;
            }
         }
         
        }
    }
    .divider {
        margin-bottom: 60px;
    }
    .featured {
      //   margin-bottom: 60px;
        .title {
            font-size: 20px;
            margin-bottom: 5px;
            font-size: 20px;
        }
        .summary {
            margin-bottom: 30px;
            color: $color;
        }
        img {
            margin-bottom: 30px;

            &:hover {
               transform: translateY(0) !important;
            }
        }
        .desc {
            margin-bottom: 20px;
        }
    }
    .has-ribbon{
        position: relative;
        display: inline-block;
        .text {
            background: $color-2;
            color: #fff;
        }
        .ribbon {
            position: absolute;
            top: -4px;
            right: -4px;
            width: 110px;
            height: 110px;
            overflow: hidden;

            .text {
                font-family: 'Montserrat', sans-serif;
                position: relative;
                left: -8px;
                top: 18px;
                width: 158px;
                padding: 10px 10px;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                color: #fff;           
                background-color: $btn-color-2;
                @include transform (rotate(45deg) translate3d(0,0,0));
                &:before, &:after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    border-top: 5px solid darken($btn-color-2, 20%);
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }  
        }
    }

    .tech {
       margin-bottom: 16px;
       
       
      &__list {
         font-size: 16px;
         list-style: none;
         text-align: left;
         padding: 0;
         margin-left: 30px;
         margin-bottom: 0;

         @media only screen and (max-width: 1400px) {
            margin-left: 20px;
         }

         @media only screen and (max-width: 1200px) {
            margin-left: 4px;
            font-size: 14px;
         }

         @media only screen and (max-width: 991px) {
            margin-left: 6px;
            font-size: 16px;

         }
         @media only screen and (max-width: 767px) {
            margin-left: 30px;
            font-size: 16px;

         }
      }

      &__item {
            
         & .svg-inline--fa {
            margin-right: 10px;
            color: $color-3;
         }
       }
    }
   
   &__button-box {
      
   }
    
}

.latest {
   .tech {
      margin-bottom: 32px;
   }
}

/* Projects Section */
.projects {
    .item {
        margin-bottom: 30px;
        .title {
            font-size: 16px;
            margin-top: 0; 
            margin-bottom:5px;
            line-height: 1.5;
            a {
                color: $color;
                &:hover {
                    color: darken($color, 10%);
                }
            }
        }  
    }
}

.other {
   &__link {
      margin-bottom: 0;
   }

   .item:not(:first-of-type) {
      margin-top: 2rem
   }
   
   &__hr {
      border-top: 1px solid #C5C6C7;
      width: 70%;
   }
}

/* Work Section */
.experience {
    .item {
        margin-bottom: 30px;
        .title {
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 5px;
            line-height: 1.5;
            
            .place {
                color: $grey;
                font-weight: normal; 
                a {
                    color: $grey;
                    &:hover {
                        color: darken($grey, 20%);
                    }
                }
            }
            .year {
                color: $grey;
                font-weight: normal;
            }
        }        
    }

}

/* GitHub section */
.github-graph {
    margin-bottom: 30px;
    .js-calendar-graph-svg{
        max-width:100%;
    }
    h2 {
	    font-size: 18px;
    }

    .contrib-footer {
       font-size: 12px;
       padding: 0 !important;
       margin-bottom: 5px;
    }
    
    .contrib-legend {
       display: none;
    }

    & .js-calendar-graph {
       margin: 0 !important;
    }

    & .border {
      border: none !important;
    }

    & .contrib-number {
       font-size: 16px;
    }

}

.ghfeed {
   margin-bottom: 1rem;
    height: 500px;
    @include reset-box-sizing();

    & .gha-feed::-webkit-scrollbar {
         width: 11px;
         background-color: transparent;
      }

   & .gha-feed::-webkit-scrollbar-thumb {
      background-color: $color;
   }

}



/* Info Section */
.info {
    .svg-inline--fa {
        margin-right: 15px;
        color: lighten($color, 30%);
        &.fa-envelope-o {
            font-size: 14px;
        }
    }
    ul {
        margin-bottom: 0;
    }
    
    li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* Skills Section */
.skills {
    .intro {
        margin-bottom: 30px;
    }
    .skillset {

        .item {
            margin-bottom: 30px;
        }
        .level-title {
            font-size: 16px;
            position: relative;
            margin-top: 0;
            margin-bottom: 10;
            .level-label {
                color: lighten($color, 30%);
                font-size: 14px;
                font-weight: 400;
                font-family: "Lato", arial, sans-serif;
                position: absolute;
                right: 0;
                top: 0;
            }
            
        }
        .level-bar {
            height: 15px;
            background: darken($smoky-white, 5%);
        }
        .level-bar-inner {
            height: 15px;
            background: $color-3;
        }
    }
    .svg-inline--fa {
	    margin-right: 3px;
	    position: relative;
	    top: -1px;
    }
    
}

/* Testimonials section */
.testimonials {
    .item {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        .quote {
            color: $text-color-secondary;
            font-size: 16px;
            border-left: 5px solid lighten($color-2, 30%);
            padding: 5px 15px;
            margin-bottom: 15px;
            p {
	            margin-bottom: 0;
            }
            
            .svg-inline--fa {
                color: lighten($color-2, 20%);
                margin-right: 15px;
            }
            
        }
        .source {
            font-size: 14px;
            padding-left: 20px;
            font-weight: 500;
            .name {
                color: lighten($color, 10%);
                font-weight: 600;
            }
            .title {
                color: $grey;
            }
        }
    }
}

/* Education section */
.education {
    .item {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        .title {
            font-size: 16px;
            margin-top: 0;
        }
        .university {
            font-family: "Lato", arial, sans-serif;
            font-size: 13px;
            color: $grey;
            font-weight: 600;
            padding-left: 25px;
            .year {
                color: lighten($color, 20%);
                font-weight: 500;
            }
        }
    }
}

/* Language Section */
.languages {
    .item {
        margin-bottom: 15px;
        .title {
            color: $color;
        }
        .level {
            color: $grey;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .svg-inline--fa {
            color: lighten($color-2, 20%);
        }
    }
}

/* Blog Section */
.blog {
    .item {
        margin-bottom: 30px;
        .title {
            font-size: 18px;
            line-height: 1.3;
            font-weight: 600;            
            a {
                color: $text-color;
                &:hover {
                    color: darken($text-color, 20%);
                }
            }
        }
        
        p {
            margin-bottom: 5px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    
}

/* List section */
.list {
    ul li {
        margin-bottom: 1rem;
        .svg-inline--fa {
            margin-right: 5px;
        }
    }
}


// This is located at the bottom of 'Other Projects' section and is for 'Contact' Me button scroll
#contact-scroll-loc {
   position: absolute;
   bottom: 0;
   height:0;
   width: 0;
}

/* Contact section */
.contact {

   .content {
      margin-bottom: 2rem;

   }
   transition: box-shadow 1s ease-in-out;
   border-radius: 8px;
   text-align: center;

   input:-webkit-autofill,
   input:-webkit-autofill:hover, 
   input:-webkit-autofill:focus, 
   input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px #1F2833 inset !important;
   }

   input:-webkit-autofill {
      -webkit-text-fill-color: #C5C6C7 !important;
  }
  
  

   &__form {
      width: 100%;
      max-width: 500px;

      margin-left: auto;
      margin-right: auto;

   }

   &__field {
      width: 100%;
      background: transparent;
      color: #C5C6C7;
      display: block;
      padding: 8px 10px 0px;
      margin-bottom: 4px;
      transition: border-color .25s ease-in-out;

      &:focus {
         outline: 0;
         
      }
   }

   &__input {
      border: none;
      border-bottom: 1px solid $color;

      &:focus {
         border-bottom-color: $color-3;
         
      }

   }

   &__textarea {
      border: 1px solid $color;
      min-height: 150px;
      margin-top: 20px;
      margin-bottom: 20px;

      &:focus {
         border-color: $color-3;
         
      }
   }

   &__btn-flexbox {
      display: flex;
      align-items: center;
   }

   &__btn {
      margin-right: 15px;
   }
}

#contact__msg-success {
   display: none;
   align-items: center;

   color: rgb(139, 236, 135);
   margin-bottom: 0;
}
#contact__msg-error {
   display: none;
   align-items: center;
   color: #D8000C;
   margin-bottom: 0;
}


.aside {
	.subheading {
	    font-size: 18px;
	    color: darken($color, 15%);
    }
}



/* ======= Footer ======= */

.footer {
   position: relative;
   background: #1F2833;
   padding: 60px 0;
   border-top: 1px solid darken($color, 25%);
   border-bottom: 10px solid darken($color, 25%);


    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: -23px;
      left: 50%;
      transform: translateX(-50%);


      background: $color-3;
      color: #FFF;      
      width: 46px;
      height: 46px;
      border: 1px solid darken($color, 25%);

   
      & .svg-inline--fa {
         font-size: 25px;
         transition: transform .25s ease;

         & path {
            color: #FFF;
         }
      }

      &:hover {
   
         .svg-inline--fa {
            transform: translateY(-5px);
            color: #FFF;
         }
      }
   }

    & .copyright {
       position: absolute;
       bottom: 10px;
       left: 50%;
       transform: translateX(-50%);
       font-size: 12px;
       color: rgba(153, 153, 153, 0.5);
    }

    & .social {
       margin-bottom: 0;
      a {
         font-size: 20px;
         display: flex;
         align-items: center;
         justify-content: center;
         color: #FFF;
         background-color: darken($color, 10%);
         height: 36px;
         width: 36px;
         border-radius: 50%;
  
         &:hover {
            background-color: $color;
            transform: translateY(-2px);
         }
      }
    }
    
    
    
}


